<!-- ==================== Breadcrumb Start Here ==================== -->
<section
  class="breadcrumb py-140 tw-pt-206-px mb-0 bg-img"
  data-background-image="assets/images/thumbs/breadcrumb-bg.png"
>
  <div class="container">
    <div class="text-center">
      <span
        class="splitTextStyleTwo text-main-600 border-bottom border-main-600 fst-italic fw-bold tw-text-lg cursor-small"
        >Our Projects</span
      >
      <h1 class="splitTextStyleOne text-white tw-mt-1 cursor-big">
        Successful Deliveries
      </h1>
    </div>
  </div>
</section>
<!-- ==================== Breadcrumb End Here ==================== -->

<!-- =============================== Project Two Section start =========================== -->
<section class="py-140">
  <div class="container">
    <div class="masonry-layout d-flex flex-wrap gap-4">
      <div class="position-relative hover-overlay overlay-main-600 group-item">
        <a href="project-details.html" class="w-100 h-100">
          <img
            src="assets/images/thumbs/project-two-img1.png"
            class="w-100 h-100 object-fit-cover"
            alt=""
          />
        </a>
        <a
          href="assets/images/thumbs/project-two-img1.png"
          class="cursor-big project-gallery-link position-absolute top-50 tw-start-50 tw--translate-middle tw-invisible opacity-0 group-hover-item-opacity-1 group-hover-item-visible tw-duration-300 text--white tw-text-14 hover-bg-white hover-text-main-600 tw-w-114-px tw-h-114-px d-flex justify-content-center align-items-center rounded-circle tw-delay-200"
        >
          <i class="ph ph-plus"></i>
        </a>

        <div
          class="tw-p-54-px position-absolute bottom-0 tw-start-0 tw-invisible opacity-0 group-hover-item-opacity-1 group-hover-item-visible tw-duration-300"
        >
          <h4 class="text-white tw-mb-4">
            <a
              href="project-details.html"
              class="text-white hover--translate-y-1 hover-text-white cursor-big splitTextStyleOne"
              >Ocean Freight Services</a
            >
          </h4>
          <span class="text-white cursor-small">Express Air Delivery</span>
        </div>
      </div>
      <div class="position-relative hover-overlay overlay-main-600 group-item">
        <a href="project-details.html" class="w-100 h-100">
          <img
            src="assets/images/thumbs/project-two-img2.png"
            class="w-100 h-100 object-fit-cover"
            alt=""
          />
        </a>
        <a
          href="assets/images/thumbs/project-two-img2.png"
          class="cursor-big project-gallery-link position-absolute top-50 tw-start-50 tw--translate-middle tw-invisible opacity-0 group-hover-item-opacity-1 group-hover-item-visible tw-duration-300 text--white tw-text-14 hover-bg-white hover-text-main-600 tw-w-114-px tw-h-114-px d-flex justify-content-center align-items-center rounded-circle tw-delay-200"
        >
          <i class="ph ph-plus"></i>
        </a>

        <div
          class="tw-p-54-px position-absolute bottom-0 tw-start-0 tw-invisible opacity-0 group-hover-item-opacity-1 group-hover-item-visible tw-duration-300"
        >
          <h4 class="text-white tw-mb-4">
            <a
              href="project-details.html"
              class="text-white hover--translate-y-1 hover-text-white cursor-big splitTextStyleOne"
              >International Air Freight</a
            >
          </h4>
          <span class="text-white cursor-small">Maritime Logistics</span>
        </div>
      </div>
      <div class="position-relative hover-overlay overlay-main-600 group-item">
        <a href="project-details.html" class="w-100 h-100">
          <img
            src="assets/images/thumbs/project-two-img3.png"
            class="w-100 h-100 object-fit-cover"
            alt=""
          />
        </a>
        <a
          href="assets/images/thumbs/project-two-img3.png"
          class="cursor-big project-gallery-link position-absolute top-50 tw-start-50 tw--translate-middle tw-invisible opacity-0 group-hover-item-opacity-1 group-hover-item-visible tw-duration-300 text--white tw-text-14 hover-bg-white hover-text-main-600 tw-w-114-px tw-h-114-px d-flex justify-content-center align-items-center rounded-circle tw-delay-200"
        >
          <i class="ph ph-plus"></i>
        </a>

        <div
          class="tw-p-54-px position-absolute bottom-0 tw-start-0 tw-invisible opacity-0 group-hover-item-opacity-1 group-hover-item-visible tw-duration-300"
        >
          <h4 class="text-white tw-mb-4">
            <a
              href="project-details.html"
              class="text-white hover--translate-y-1 hover-text-white cursor-big splitTextStyleOne"
              >Warehousing Solutions</a
            >
          </h4>
          <span class="text-white cursor-small">Storage & Distribution</span>
        </div>
      </div>
      <div class="position-relative hover-overlay overlay-main-600 group-item">
        <a href="project-details.html" class="w-100 h-100">
          <img
            src="assets/images/thumbs/project-two-img4.png"
            class="w-100 h-100 object-fit-cover"
            alt=""
          />
        </a>
        <a
          href="assets/images/thumbs/project-two-img4.png"
          class="cursor-big project-gallery-link position-absolute top-50 tw-start-50 tw--translate-middle tw-invisible opacity-0 group-hover-item-opacity-1 group-hover-item-visible tw-duration-300 text--white tw-text-14 hover-bg-white hover-text-main-600 tw-w-114-px tw-h-114-px d-flex justify-content-center align-items-center rounded-circle tw-delay-200"
        >
          <i class="ph ph-plus"></i>
        </a>

        <div
          class="tw-p-54-px position-absolute bottom-0 tw-start-0 tw-invisible opacity-0 group-hover-item-opacity-1 group-hover-item-visible tw-duration-300"
        >
          <h4 class="text-white tw-mb-4">
            <a
              href="project-details.html"
              class="text-white hover--translate-y-1 hover-text-white cursor-big splitTextStyleOne"
              >Ground Transportation</a
            >
          </h4>
          <span class="text-white cursor-small">Road Freight Services</span>
        </div>
      </div>
      <div class="position-relative hover-overlay overlay-main-600 group-item">
        <a href="project-details.html" class="w-100 h-100">
          <img
            src="assets/images/thumbs/project-two-img5.png"
            class="w-100 h-100 object-fit-cover"
            alt=""
          />
        </a>
        <a
          href="assets/images/thumbs/project-two-img5.png"
          class="cursor-big project-gallery-link position-absolute top-50 tw-start-50 tw--translate-middle tw-invisible opacity-0 group-hover-item-opacity-1 group-hover-item-visible tw-duration-300 text--white tw-text-14 hover-bg-white hover-text-main-600 tw-w-114-px tw-h-114-px d-flex justify-content-center align-items-center rounded-circle tw-delay-200"
        >
          <i class="ph ph-plus"></i>
        </a>

        <div
          class="tw-p-54-px position-absolute bottom-0 tw-start-0 tw-invisible opacity-0 group-hover-item-opacity-1 group-hover-item-visible tw-duration-300"
        >
          <h4 class="text-white tw-mb-4">
            <a
              href="project-details.html"
              class="text-white hover--translate-y-1 hover-text-white cursor-big splitTextStyleOne"
              >Express Courier Service</a
            >
          </h4>
          <span class="text-white cursor-small">Same-Day Delivery</span>
        </div>
      </div>
      <div class="position-relative hover-overlay overlay-main-600 group-item">
        <a href="project-details.html" class="w-100 h-100">
          <img
            src="assets/images/thumbs/project-two-img6.png"
            class="w-100 h-100 object-fit-cover"
            alt=""
          />
        </a>
        <a
          href="assets/images/thumbs/project-two-img6.png"
          class="cursor-big project-gallery-link position-absolute top-50 tw-start-50 tw--translate-middle tw-invisible opacity-0 group-hover-item-opacity-1 group-hover-item-visible tw-duration-300 text--white tw-text-14 hover-bg-white hover-text-main-600 tw-w-114-px tw-h-114-px d-flex justify-content-center align-items-center rounded-circle tw-delay-200"
        >
          <i class="ph ph-plus"></i>
        </a>

        <div
          class="tw-p-54-px position-absolute bottom-0 tw-start-0 tw-invisible opacity-0 group-hover-item-opacity-1 group-hover-item-visible tw-duration-300"
        >
          <h4 class="text-white tw-mb-4">
            <a
              href="project-details.html"
              class="text-white hover--translate-y-1 hover-text-white cursor-big splitTextStyleOne"
              >Custom Logistics Solutions</a
            >
          </h4>
          <span class="text-white cursor-small">Specialized Transport</span>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- =============================== Project Two Section End =========================== -->

<!-- ========================== map Start ============================ -->
<div class="map">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2446.7127073290347!2d-0.6761891237499595!3d52.17859337189377!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4877b1eb5a6b2667%3A0x5c5e8a6c1c7e41d9!2s59%20Irthlingborough%20Rd%20E%2C%20Wellingborough%20NN8%201GP%2C%20UK!5e0!3m2!1sen!2s!4v1701234567890!5m2!1sen!2s"
    class="w-100"
    height="355"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
</div>
<!-- ========================== map End ============================ -->
