<!-- ============================= Banner Two Start ============================= -->
<section class="banner-two overflow-hidden position-relative">
  <img
    src="assets/images/thumbs/banner-two-man-img.png"
    alt=""
    class="position-absolute tw-start-0 bottom-0 tw-z-99 d-lg-block d-none"
  />

  <div class="banner-two-slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div
          class="scale-bg position-absolute top-0 tw-start-0 bg-img z-n1"
          data-background-image="assets/images/thumbs/banner-two-bg-1.png"
        ></div>
        <div class="tw-pt-332-px tw-pb-132-px">
          <div class="container">
            <div class="banner-two py-5">
              <h2 class="tw-text-150-px cursor-big">
                <span class="text-white tw-ps-150-px splitTextStyleOne"
                  >Transport &</span
                >
                <span class="text-white text-stroke-white splitTextStyleOne"
                  >Logistics</span
                >
                <span class="d-md-inline-flex d-none"
                  ><img src="assets/images/shapes/circle.png" alt="" class=""
                /></span>
              </h2>
              <div
                class="cursor-big bg-blur-five tw-rounded-lg max-w-520-px px-xxl-5 px-lg-4 px-3 py-4 tw-ms-auto tw-mt-13"
                data-aos="fade-up"
                data-aos-duration="1000"
                data-aos-delay="300"
              >
                <p class="text-white tw-text-lg line-clamp-3">
                  Experience seamless global logistics with DXpress. Our
                  advanced tracking system, secure packaging, and dedicated
                  support ensure your shipments reach their destination safely
                  and on time.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div
          class="scale-bg position-absolute top-0 tw-start-0 bg-img z-n1"
          data-background-image="assets/images/thumbs/banner-two-bg-2.png"
        ></div>
        <div class="tw-pt-332-px tw-pb-132-px">
          <div class="container">
            <div class="banner-two py-5">
              <h2 class="tw-text-150-px cursor-big">
                <span class="text-white tw-ps-150-px splitTextStyleOne"
                  >Transport &</span
                >
                <span class="text-white text-stroke-white splitTextStyleOne"
                  >Logistics</span
                >
                <span class="d-md-inline-flex d-none"
                  ><img src="assets/images/shapes/circle.png" alt="" class=""
                /></span>
              </h2>
              <div
                class="cursor-big bg-blur-five tw-rounded-lg max-w-520-px px-xxl-5 px-lg-4 px-3 py-4 tw-ms-auto tw-mt-13"
                data-aos="fade-up"
                data-aos-duration="1000"
                data-aos-delay="300"
              >
                <p class="text-white tw-text-lg line-clamp-3">
                  Trust DXpress for your business logistics. We offer
                  comprehensive shipping solutions with real-time tracking,
                  competitive rates, and personalized service for businesses of
                  all sizes.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div
          class="scale-bg position-absolute top-0 tw-start-0 bg-img z-n1"
          data-background-image="assets/images/thumbs/banner-two-bg-3.png"
        ></div>
        <div class="tw-pt-332-px tw-pb-132-px">
          <div class="container">
            <div class="banner-two py-5">
              <h2 class="tw-text-150-px cursor-big">
                <span class="text-white tw-ps-150-px splitTextStyleOne"
                  >Transport &</span
                >
                <span class="text-white text-stroke-white splitTextStyleOne"
                  >Logistics</span
                >
                <span class="d-md-inline-flex d-none"
                  ><img src="assets/images/shapes/circle.png" alt="" class=""
                /></span>
              </h2>
              <div
                class="cursor-big bg-blur-five tw-rounded-lg max-w-520-px px-xxl-5 px-lg-4 px-3 py-4 tw-ms-auto tw-mt-13"
                data-aos="fade-up"
                data-aos-duration="1000"
                data-aos-delay="300"
              >
                <p class="text-white tw-text-lg line-clamp-3">
                  Choose DXpress for reliable international shipping. Our
                  network spans 40+ countries with secure handling, customs
                  expertise, and dedicated support for your global logistics
                  needs.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="position-absolute tw-end-0 top-50 tw--translate-y-50 tw-me-13 min-w-max d-lg-block d-none z-1"
  >
    <div
      class="pagination-style-two swiper-pagination banner-two-pagination cursor-big"
    ></div>
  </div>

  <div
    class="position-absolute tw-start-50 tw--translate-x-50 bottom-0 d-flex tw-gap-4 tw-mb-100-px z-1"
  >
    <div
      class="cursor-big active-scale-09 banner-two-swiper-button-prev tw-w-14 tw-h-14 border border-neutral-1100 rounded-circle tw-text-xl text-white hover-bg-main-600 hover-border-main-600 d-flex justify-content-center align-items-center tw-duration-300"
    >
      <i class="ph ph-arrow-left"></i>
    </div>
    <div
      class="cursor-big active-scale-09 banner-two-swiper-button-next tw-w-14 tw-h-14 border border-neutral-1100 rounded-circle tw-text-xl text-white hover-bg-main-600 hover-border-main-600 d-flex justify-content-center align-items-center tw-duration-300"
    >
      <i class="ph ph-arrow-right"></i>
    </div>
  </div>
</section>
<!-- ============================= Banner Two End ============================= -->

<!-- ============================ brand two slider start =========================== -->
<div class="brand-two-slider-wrapper">
  <div class="brand-two-slider swiper">
    <div class="swiper-wrapper align-items-center">
      <div
        class="swiper-slide me-0 tw-py-4 border tw-border-dashed border-neutral-300 tw-h-144-px border-end-0 tw-px-4 d-flex justify-content-center align-items-center"
        data-aos="fade-up"
        data-aos-duration="1000"
        data-aos-delay="100"
      >
        <div class="text-center cursor-big">
          <img src="/assets/images/thumbs/brand-two-img1.png" alt="" class="" />
        </div>
      </div>
      <div
        class="swiper-slide me-0 tw-py-4 border tw-border-dashed border-neutral-300 tw-h-144-px border-end-0 tw-px-4 d-flex justify-content-center align-items-center"
        data-aos="fade-up"
        data-aos-duration="1000"
        data-aos-delay="200"
      >
        <div class="text-center cursor-big">
          <img src="/assets/images/thumbs/brand-two-img2.png" alt="" class="" />
        </div>
      </div>
      <div
        class="swiper-slide me-0 tw-py-4 border tw-border-dashed border-neutral-300 tw-h-144-px border-end-0 tw-px-4 d-flex justify-content-center align-items-center"
        data-aos="fade-up"
        data-aos-duration="1000"
        data-aos-delay="300"
      >
        <div class="text-center cursor-big">
          <img src="/assets/images/thumbs/brand-two-img3.png" alt="" class="" />
        </div>
      </div>
      <div
        class="swiper-slide me-0 tw-py-4 border tw-border-dashed border-neutral-300 tw-h-144-px border-end-0 tw-px-4 d-flex justify-content-center align-items-center"
        data-aos="fade-up"
        data-aos-duration="1000"
        data-aos-delay="400"
      >
        <div class="text-center cursor-big">
          <img src="/assets/images/thumbs/brand-two-img4.png" alt="" class="" />
        </div>
      </div>
      <div
        class="swiper-slide me-0 tw-py-4 border tw-border-dashed border-neutral-300 tw-h-144-px border-end-0 tw-px-4 d-flex justify-content-center align-items-center"
        data-aos="fade-up"
        data-aos-duration="1000"
        data-aos-delay="500"
      >
        <div class="text-center cursor-big">
          <img src="/assets/images/thumbs/brand-two-img5.png" alt="" class="" />
        </div>
      </div>
      <div
        class="swiper-slide me-0 tw-py-4 border tw-border-dashed border-neutral-300 tw-h-144-px border-end-0 tw-px-4 d-flex justify-content-center align-items-center"
        data-aos="fade-up"
        data-aos-duration="1000"
        data-aos-delay="600"
      >
        <div class="text-center cursor-big">
          <img src="/assets/images/thumbs/brand-two-img6.png" alt="" class="" />
        </div>
      </div>
      <div
        class="swiper-slide me-0 tw-py-4 border tw-border-dashed border-neutral-300 tw-h-144-px border-end-0 tw-px-4 d-flex justify-content-center align-items-center"
        data-aos="fade-up"
        data-aos-duration="1000"
        data-aos-delay="700"
      >
        <div class="text-center cursor-big">
          <img src="/assets/images/thumbs/brand-two-img7.png" alt="" class="" />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ============================ brand two slider end =========================== -->

<!-- ============================== Team section start ============================== -->
<section class="team py-140 overflow-hidden">
  <div class="container">
    <div class="max-w-856-px mx-auto text-center tw-mb-14">
      <span
        class="splitTextStyleTwo cursor-small tw-text-xl fw-bold fst-italic text-decoration-underline text-main-600 tw-mb-305"
        >Our Experts</span
      >
      <h2 class="splitTextStyleOne cursor-big tw-mb-8">
        Meet Our Logistics Professionals
      </h2>
      <p class="cursor-small text-neutral-900">
        Our team of experienced logistics professionals is dedicated to
        providing exceptional service and innovative solutions for your supply
        chain needs. With years of industry experience, our experts ensure your
        shipments are handled with care and delivered on time.
      </p>
    </div>

    <div class="row gy-5">
      <div
        class="col-lg-3 col-md-6"
        data-aos="fade-up"
        data-aos-duration="1000"
        data-aos-delay="100"
      >
        <div class="team-item group group-item">
          <div
            class="position-relative tw-rounded-32-px tw-rounded-bl-0 overflow-hidden"
          >
            <a href="/team/1" class="w-100 tw-h-400-px d-block">
              <img
                src="/assets/images/thumbs/team-img1.png"
                alt="John Smith"
                class="w-100 h-100 object-fit-cover"
              />
            </a>
            <div
              class="socails-share position-absolute bottom-0 tw-start-0 d-inline-block"
            >
              <button
                class="tw-h-17 tw-w-17 bg-main-600 text-white tw-text-2xl group-hover-bg-main-two-600 tw-duration-300 cursor-big tw-rounded-lg tw-rounded-bl-0 tw-rounded-br-0 tw-rounded-tl-0"
              >
                <i class="ph-fill ph-share-network"></i>
              </button>
              <ul
                class="bg-white tw-py-205 tw-px-5 d-flex align-items-center tw-gap-5 position-absolute bottom-0 tw-start-full tw-invisible group-hover-item-visible tw-duration-300 clip-w-0 group-hover-clip-w-full"
              >
                <li>
                  <a
                    href="#"
                    class="tw-text-base text-neutral-1000 hover-text-main-two-600 hover-scale-20 cursor-small"
                    ><i class="ph-fill ph-twitter-logo"></i
                  ></a>
                </li>
                <li>
                  <a
                    href="#"
                    class="tw-text-base text-neutral-1000 hover-text-main-two-600 hover-scale-20 cursor-small"
                    ><i class="ph-fill ph-facebook-logo"></i
                  ></a>
                </li>
                <li>
                  <a
                    href="#"
                    class="tw-text-base text-neutral-1000 hover-text-main-two-600 hover-scale-20 cursor-small"
                    ><i class="ph-bold ph-instagram-logo"></i
                  ></a>
                </li>
                <li>
                  <a
                    href="#"
                    class="tw-text-base text-neutral-1000 hover-text-main-two-600 hover-scale-20 cursor-small"
                    ><i class="ph-fill ph-linkedin-logo"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="text-center tw-mt-6">
            <h5 class="tw-mb-1 cursor-big">
              <a href="/team/1" class="hover-text-main-600 line-clamp-1"
                >John Smith</a
              >
            </h5>
            <span class="tw-text-sm text-main-600 text-uppercase cursor-small"
              >CEO & Founder</span
            >
            <p class="text-neutral-1000 tw-mt-2 cursor-small tw-text-sm">
              20+ years of logistics innovation
            </p>
          </div>
        </div>
      </div>

      <div
        class="col-lg-3 col-md-6"
        data-aos="fade-up"
        data-aos-duration="1000"
        data-aos-delay="200"
      >
        <div class="team-item group group-item">
          <div
            class="position-relative tw-rounded-32-px tw-rounded-bl-0 overflow-hidden"
          >
            <a href="/team/2" class="w-100 tw-h-400-px d-block">
              <img
                src="/assets/images/thumbs/team-img5.png"
                alt="Sarah Johnson"
                class="w-100 h-100 object-fit-cover"
              />
            </a>
            <div
              class="socails-share position-absolute bottom-0 tw-start-0 d-inline-block"
            >
              <button
                class="tw-h-17 tw-w-17 bg-main-600 text-white tw-text-2xl group-hover-bg-main-two-600 tw-duration-300 cursor-big tw-rounded-lg tw-rounded-bl-0 tw-rounded-br-0 tw-rounded-tl-0"
              >
                <i class="ph-fill ph-share-network"></i>
              </button>
              <ul
                class="bg-white tw-py-205 tw-px-5 d-flex align-items-center tw-gap-5 position-absolute bottom-0 tw-start-full tw-invisible group-hover-item-visible tw-duration-300 clip-w-0 group-hover-clip-w-full"
              >
                <li>
                  <a
                    href="#"
                    class="tw-text-base text-neutral-1000 hover-text-main-two-600 hover-scale-20 cursor-small"
                    ><i class="ph-fill ph-twitter-logo"></i
                  ></a>
                </li>
                <li>
                  <a
                    href="#"
                    class="tw-text-base text-neutral-1000 hover-text-main-two-600 hover-scale-20 cursor-small"
                    ><i class="ph-fill ph-facebook-logo"></i
                  ></a>
                </li>
                <li>
                  <a
                    href="#"
                    class="tw-text-base text-neutral-1000 hover-text-main-two-600 hover-scale-20 cursor-small"
                    ><i class="ph-bold ph-instagram-logo"></i
                  ></a>
                </li>
                <li>
                  <a
                    href="#"
                    class="tw-text-base text-neutral-1000 hover-text-main-two-600 hover-scale-20 cursor-small"
                    ><i class="ph-fill ph-linkedin-logo"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="text-center tw-mt-6">
            <h5 class="tw-mb-1 cursor-big">
              <a href="/team/2" class="hover-text-main-600 line-clamp-1"
                >Sarah Johnson</a
              >
            </h5>
            <span class="tw-text-sm text-main-600 text-uppercase cursor-small"
              >Operations Manager</span
            >
            <p class="text-neutral-1000 tw-mt-2 cursor-small tw-text-sm">
              Global logistics optimization expert
            </p>
          </div>
        </div>
      </div>

      <div
        class="col-lg-3 col-md-6"
        data-aos="fade-up"
        data-aos-duration="1000"
        data-aos-delay="300"
      >
        <div class="team-item group group-item">
          <div
            class="position-relative tw-rounded-32-px tw-rounded-bl-0 overflow-hidden"
          >
            <a href="/team/3" class="w-100 tw-h-400-px d-block">
              <img
                src="/assets/images/thumbs/team-img3.png"
                alt="Michael Brown"
                class="w-100 h-100 object-fit-cover"
              />
            </a>
            <div
              class="socails-share position-absolute bottom-0 tw-start-0 d-inline-block"
            >
              <button
                class="tw-h-17 tw-w-17 bg-main-600 text-white tw-text-2xl group-hover-bg-main-two-600 tw-duration-300 cursor-big tw-rounded-lg tw-rounded-bl-0 tw-rounded-br-0 tw-rounded-tl-0"
              >
                <i class="ph-fill ph-share-network"></i>
              </button>
              <ul
                class="bg-white tw-py-205 tw-px-5 d-flex align-items-center tw-gap-5 position-absolute bottom-0 tw-start-full tw-invisible group-hover-item-visible tw-duration-300 clip-w-0 group-hover-clip-w-full"
              >
                <li>
                  <a
                    href="#"
                    class="tw-text-base text-neutral-1000 hover-text-main-two-600 hover-scale-20 cursor-small"
                    ><i class="ph-fill ph-twitter-logo"></i
                  ></a>
                </li>
                <li>
                  <a
                    href="#"
                    class="tw-text-base text-neutral-1000 hover-text-main-two-600 hover-scale-20 cursor-small"
                    ><i class="ph-fill ph-facebook-logo"></i
                  ></a>
                </li>
                <li>
                  <a
                    href="#"
                    class="tw-text-base text-neutral-1000 hover-text-main-two-600 hover-scale-20 cursor-small"
                    ><i class="ph-bold ph-instagram-logo"></i
                  ></a>
                </li>
                <li>
                  <a
                    href="#"
                    class="tw-text-base text-neutral-1000 hover-text-main-two-600 hover-scale-20 cursor-small"
                    ><i class="ph-fill ph-linkedin-logo"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="text-center tw-mt-6">
            <h5 class="tw-mb-1 cursor-big">
              <a href="/team/3" class="hover-text-main-600 line-clamp-1"
                >Michael Brown</a
              >
            </h5>
            <span class="tw-text-sm text-main-600 text-uppercase cursor-small"
              >Logistics Director</span
            >
            <p class="text-neutral-1000 tw-mt-2 cursor-small tw-text-sm">
              Supply chain technology specialist
            </p>
          </div>
        </div>
      </div>

      <div
        class="col-lg-3 col-md-6"
        data-aos="fade-up"
        data-aos-duration="1000"
        data-aos-delay="400"
      >
        <div class="team-item group group-item">
          <div
            class="position-relative tw-rounded-32-px tw-rounded-bl-0 overflow-hidden"
          >
            <a href="/team/4" class="w-100 tw-h-400-px d-block">
              <img
                src="/assets/images/thumbs/team-img6.png"
                alt="Jennifer Taylor"
                class="w-100 h-100 object-fit-cover"
              />
            </a>
            <div
              class="socails-share position-absolute bottom-0 tw-start-0 d-inline-block"
            >
              <button
                class="tw-h-17 tw-w-17 bg-main-600 text-white tw-text-2xl group-hover-bg-main-two-600 tw-duration-300 cursor-big tw-rounded-lg tw-rounded-bl-0 tw-rounded-br-0 tw-rounded-tl-0"
              >
                <i class="ph-fill ph-share-network"></i>
              </button>
              <ul
                class="bg-white tw-py-205 tw-px-5 d-flex align-items-center tw-gap-5 position-absolute bottom-0 tw-start-full tw-invisible group-hover-item-visible tw-duration-300 clip-w-0 group-hover-clip-w-full"
              >
                <li>
                  <a
                    href="#"
                    class="tw-text-base text-neutral-1000 hover-text-main-two-600 hover-scale-20 cursor-small"
                    ><i class="ph-fill ph-twitter-logo"></i
                  ></a>
                </li>
                <li>
                  <a
                    href="#"
                    class="tw-text-base text-neutral-1000 hover-text-main-two-600 hover-scale-20 cursor-small"
                    ><i class="ph-fill ph-facebook-logo"></i
                  ></a>
                </li>
                <li>
                  <a
                    href="#"
                    class="tw-text-base text-neutral-1000 hover-text-main-two-600 hover-scale-20 cursor-small"
                    ><i class="ph-bold ph-instagram-logo"></i
                  ></a>
                </li>
                <li>
                  <a
                    href="#"
                    class="tw-text-base text-neutral-1000 hover-text-main-two-600 hover-scale-20 cursor-small"
                    ><i class="ph-fill ph-linkedin-logo"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="text-center tw-mt-6">
            <h5 class="tw-mb-1 cursor-big">
              <a href="/team/4" class="hover-text-main-600 line-clamp-1"
                >Jennifer Taylor</a
              >
            </h5>
            <span class="tw-text-sm text-main-600 text-uppercase cursor-small"
              >Customer Service Manager</span
            >
            <p class="text-neutral-1000 tw-mt-2 cursor-small tw-text-sm">
              Client satisfaction specialist
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ============================== Team section end ============================== -->

<!-- ========================== FAQ section start ============================ -->
<section class="faq half-bg-h-32 pt-140">
  <div class="container">
    <div class="max-w-856-px mx-auto text-center tw-mb-14">
      <span
        class="splitTextStyleTwo cursor-small tw-text-xl fw-bold fst-italic text-decoration-underline text-main-600 tw-mb-305"
        >Got Questions?</span
      >
      <h2 class="splitTextStyleOne cursor-big tw-mb-8">
        Frequently Asked Questions
      </h2>
      <p class="cursor-small text-neutral-900">
        Find answers to common questions about our shipping and logistics
        services. If you need further assistance, please contact our support
        team.
      </p>
    </div>

    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div class="accordion" id="faqAccordion">
          <div
            class="accordion-item mb-4 border tw-rounded-xl overflow-hidden"
            data-aos="fade-up"
            data-aos-duration="1000"
            data-aos-delay="100"
          >
            <h2 class="accordion-header">
              <button
                class="accordion-button fw-bold"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#faq1"
              >
                How do I track my shipment?
              </button>
            </h2>
            <div
              id="faq1"
              class="accordion-collapse collapse show"
              data-bs-parent="#faqAccordion"
            >
              <div class="accordion-body">
                You can track your shipment by entering your tracking number on
                our tracking page. You'll receive real-time updates on your
                shipment's status and location. Alternatively, you can use our
                mobile app or contact our customer service for assistance.
              </div>
            </div>
          </div>

          <div
            class="accordion-item mb-4 border tw-rounded-xl overflow-hidden"
            data-aos="fade-up"
            data-aos-duration="1000"
            data-aos-delay="200"
          >
            <h2 class="accordion-header">
              <button
                class="accordion-button fw-bold collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#faq2"
              >
                What are your delivery timeframes?
              </button>
            </h2>
            <div
              id="faq2"
              class="accordion-collapse collapse"
              data-bs-parent="#faqAccordion"
            >
              <div class="accordion-body">
                Our delivery timeframes are determined by the carrier service
                you select during shipment creation, such as DHL, FedEx, or UPS.
                Each carrier offers their own delivery options and estimated
                transit times based on your package's origin and destination.
                You can view the specific delivery timeframes for each carrier
                when booking your shipment.
              </div>
            </div>
          </div>

          <div
            class="accordion-item mb-4 border tw-rounded-xl overflow-hidden"
            data-aos="fade-up"
            data-aos-duration="1000"
            data-aos-delay="300"
          >
            <h2 class="accordion-header">
              <button
                class="accordion-button fw-bold collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#faq3"
              >
                How is shipping cost calculated?
              </button>
            </h2>
            <div
              id="faq3"
              class="accordion-collapse collapse"
              data-bs-parent="#faqAccordion"
            >
              <div class="accordion-body">
                Shipping costs are calculated based on package weight,
                dimensions, shipping distance, delivery speed, and any
                additional services requested. You can get an instant quote
                using our online shipping calculator or by contacting our
                customer service team.
              </div>
            </div>
          </div>

          <div
            class="accordion-item mb-4 border tw-rounded-xl overflow-hidden"
            data-aos="fade-up"
            data-aos-duration="1000"
            data-aos-delay="400"
          >
            <h2 class="accordion-header">
              <button
                class="accordion-button fw-bold collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#faq4"
              >
                What if my package is lost or damaged?
              </button>
            </h2>
            <div
              id="faq4"
              class="accordion-collapse collapse"
              data-bs-parent="#faqAccordion"
            >
              <div class="accordion-body">
                We offer insurance coverage for lost or damaged packages. The
                coverage amount depends on your chosen service level. If your
                package is lost or damaged, please contact our customer service
                within 7 days of the expected delivery date to file a claim.
              </div>
            </div>
          </div>

          <div
            class="accordion-item mb-4 border tw-rounded-xl overflow-hidden"
            data-aos="fade-up"
            data-aos-duration="1000"
            data-aos-delay="500"
          >
            <h2 class="accordion-header">
              <button
                class="accordion-button fw-bold collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#faq5"
              >
                Do you ship internationally?
              </button>
            </h2>
            <div
              id="faq5"
              class="accordion-collapse collapse"
              data-bs-parent="#faqAccordion"
            >
              <div class="accordion-body">
                Yes, we offer international shipping services to over 40
                countries. International shipping times vary by destination and
                service level. We handle all customs documentation and provide
                guidance on international shipping regulations to ensure smooth
                delivery.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ========================== FAQ section end ============================ -->

<!-- ========================== Contact us section start =============================== -->
<section class="d-xl-flex">
  <div class="w-100 xl-w-50 position-relative">
    <div class="d-flex h-100">
      <img
        src="/assets/images/thumbs/contact-us-img1.png"
        alt=""
        class="d-sm-block d-none"
      />
      <div
        class="text-center animation-item bg-main-two-600 tw-py-12 tw-px-6 flex-grow-1"
      >
        <span class="cursor-big">
          <img
            src="/assets/images/icons/conact-us-icon1.svg"
            alt=""
            class="animate__wobble"
          />
        </span>
        <h2 class="splitTextStyleOne text-white tw-mb-8 tw-mt-6 cursor-big">
          Need Our Services?
        </h2>
        <a
          href="/contact"
          class="cursor-small fw-bold text-white d-inline-flex align-items-center tw-gap-5 hover-text-main-600"
        >
          Contact With us
          <img src="/assets/images/icons/arrow-right.svg" alt="" />
        </a>
      </div>
    </div>
  </div>
  <div class="w-100 xl-w-50 position-relative">
    <div class="d-sm-flex">
      <div class="position-relative">
        <img
          src="/assets/images/thumbs/contact-us-img2.png"
          alt=""
          class="w-100 h-100 object-fit-cover"
        />
        <a
          href="https://www.youtube.com/watch?v=MFLVmAE4cqg"
          class="play-button circle-border bg-inherit-animation cursor-big tw-w-75-px tw-h-75-px d-flex justify-content-center align-items-center bg-main-three-600 text-main-two-600 hover-text-main-two-700 active-scale-094 rounded-circle tw-text-xl position-absolute top-50 tw-start-50 translate-middle"
        >
          <i class="ph-fill ph-play"></i>
        </a>
      </div>
      <div
        class="text-center animation-item bg-main-600 tw-py-12 tw-px-6 flex-grow-1"
      >
        <span class="cursor-big">
          <img
            src="/assets/images/icons/conact-us-icon2.svg"
            alt=""
            class="animate__wobble"
          />
        </span>
        <h2 class="splitTextStyleOne text-white tw-mb-8 tw-mt-6 cursor-big">
          Track Your Shipment
        </h2>
        <a
          href="/track"
          class="cursor-small fw-bold text-white d-inline-flex align-items-center tw-gap-5 hover-text-main-two-600"
        >
          Track Now
          <img src="/assets/images/icons/arrow-right.svg" alt="" />
        </a>
      </div>
    </div>
  </div>
</section>
<!-- ========================== Contact us section End =============================== -->
